body {
  font-family: 'Montserrat', sans-serif;
}

.font-gotica {
  font-family: 'UnifrakturMaguntia', cursive;
}

.status-select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23e5b757' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1em;
  padding-right: 1.8rem;
}

.status-agendada {
  background-color: #2a2200;
  color: #e5b757;
  border-color: #554400;
}

.status-confirmada {
  background-color: #062c16;
  color: #34d399;
  border-color: #0b5e30;
}

.status-cancelada {
  background-color: #310a0e;
  color: #f87171;
  border-color: #6b141d;
}

body.is-updating,
body.is-updating * {
  cursor: wait !important;
}